<div class="row">

  <div class="col-sm-3">

    <!-- Sidebar -->
    <div category-list></div>
    <div shopping-cart></div>

  </div>

  <div class="col-sm-9">
    <div class="row">

      <p class="lead">&nbsp;</p>

      <!-- Product Grid -->
      <div ng-repeat="product in products | filter: categoryFilter" class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
          <a href="#/products/{{ product.id }}"><img ng-src="{{ product.image }}" alt=""></a>
          <div class="caption">
            <h4 class="pull-right">{{ product.price | number:2 }} €</h4>
            <h4><a href="#/products/{{ product.id }}">{{ product.name }}</a></h4>
            <p class="description">{{ product.description | characters: 100 }}</p>
            <button class="btn btn-primary" ng-click="addToCart(product)">
              <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add To Cart
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>

</div> <!-- /.row -->