<!DOCTYPE html>
<html ng-app="Shopper">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shopper</title>

    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="./assets/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="./assets/bootstrap/js/bootstrap.min.js"></script>

    <script src="./assets/angular.min.js"></script>
    <script src="./assets/angular-route.min.js"></script>
    <script src="./assets/ngStorage.min.js"></script>

    <script src="./shopper.module.js"></script>
    <script src="./shopper.config.js"></script>

    <script src="./services/dataFactory.js"></script>
    <script src="./services/cartFactory.js"></script>

    <script src="./directives/directives.js"></script>
    <script src="./filters/truncate.js"></script>

    <script src="./main/main.controller.js"></script>

    <script src="./admin/admin.categories.controller.js"></script>
    <script src="./admin/admin.products.controller.js"></script>
    <script src="./admin/admin.orders.controller.js"></script>
    
    <script src="./categories/categories.controller.js"></script>
    <script src="./products/products.controller.js"></script>
    <script src="./checkout/checkout.controller.js"></script>

  </head>

  <body ng-controller="mainController">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">Shopper by Samuli Tamminen</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <!-- Left side -->
          <ul class="nav navbar-nav">
            <li ng-show="$storage.user === 'Admin'"><a href="#/admin">Manage Shop</a></li>
          </ul>

          <!-- Right side -->
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              User: {{ $storage.user }} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li ng-class="{'disabled': $storage.user === 'Admin'}"><a href="" ng-click="toggleUser()">Admin</a></li>
                <li ng-class="{'disabled': $storage.user === 'Customer'}"><a href="" ng-click="toggleUser()">Customer</a></li>
              </ul>
            </li>
          </ul>

        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container" ng-view></div>

  </body>
</html>
