
img {
  max-width: 100%;
}


.thumbnail {
    padding: 0;
    border: 0;
}
.thumbnail img {
  max-width: 100%;
  max-height: 200px;  
}


/* Admin modals */
.modal label {
  width: 100%;
}
.modal label > * {
  float: right;
  width: 60%;
  max-width: 60%;
}

label input {
  font-weight: normal;
}

.nowrap {
  white-space: nowrap;
}

.textright {
  text-align: right;
}
.textcenter {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.description {
  white-space: pre-line; /* preserve newlines */
}



.checkout .lead {
  margin-top: 1em;
  border-bottom: 1px solid #7F7F7F;
}

.checkout label {
  width: 100%;
}

.checkout label .price,
.checkout .total {
  font-weight: bold;
}

.btn-place-order {
  width: 100%;
}