<div class="row">

  <div class="col-md-3">

    <!-- Sidebar -->
    <div category-list></div>
    <div shopping-cart></div>

  </div>

  <div class="col-md-9">
    <div class="row">

      <!-- Product Details -->
      <p class="lead">&nbsp;</p>


      <div class="col-md-6">
        <img class="center" ng-src="{{ product.image }}" alt="">
      </div>

      <div class="col-md-6">
        <h1>{{ product.name }}</h1>
        <h2>{{ product.price | number:2 }} €</h2>
        <p class="description">{{ product.description }}</p>
        <button class="btn btn-primary" ng-click="addToCart(product)">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add To Cart
        </button>
      </div>

    </div>
  </div>

</div> <!-- /.row -->