<div class="row">

  <div class="col-md-3">

    <p class="lead">Catalog</p>
    <div class="list-group">
      <a href="#/admin/products" class="list-group-item" ng-class="{'active' : page == 'products'}">Products</a>
      <a href="#/admin/categories" class="list-group-item" ng-class="{'active' : page == 'categories'}">Categories</a>
    </div>

    <p class="lead">Sales</p>
    <div class="list-group">
      <a href="#/admin/orders" class="list-group-item" ng-class="{'active' : page == 'orders'}">Orders</a>
    </div>

  </div>

  <div class="col-md-9">
    <!-- <div class="row"> -->

      <p class="lead">
        <button type="button" class="btn btn-success btn-sm" ng-click="createCategory()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New Category
        </button>
      </p>

      <!-- Categories Table -->
      <table class="table table-bordered table-hover">
        <thead>
          <th>Id</th>
          <th>Name</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <tr ng-repeat="item in categories track by $index">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>
              <button type="button" class="btn btn-warning btn-sm" ng-click="editCategory(item)">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
              </button>
              <button type="button" class="btn btn-danger btn-sm" ng-click="deleteCategory(item)">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      </div>


      <!-- Category Modal -->
      <div class="modal fade in" id="categoryModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="myModalLabel">Category</h4>
            </div>
            <div class="modal-body">
              <label>Id: <input type="text" ng-model="currentCategory.id" value="{{ currentCategory.id }}"></label><br>
              <label>Name: <input type="text" ng-model="currentCategory.name" value="{{ currentCategory.name }}"></label><br>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="saveCategory()" data-dismiss="modal"><i class="glyphicon glyphicon-ok"></i>&nbsp;Save</button>
                <button class="btn btn-warning" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancel</button>
            </div>
          </div>
        </div>
      </div>

    <!-- </div> -->
  </div>

</div> <!-- /.row -->