<div class="row">

  <div class="col-md-3">

    <p class="lead">Catalog</p>
    <div class="list-group">
      <a href="#/admin/products" class="list-group-item" ng-class="{'active' : page == 'products'}">Products</a>
      <a href="#/admin/categories" class="list-group-item" ng-class="{'active' : page == 'categories'}">Categories</a>
    </div>

    <p class="lead">Sales</p>
    <div class="list-group">
      <a href="#/admin/orders" class="list-group-item" ng-class="{'active' : page == 'orders'}">Orders</a>
    </div>

  </div>

  <div class="col-md-9">
    <!-- <div class="row"> -->

      <p class="lead">
        <button type="button" class="btn btn-success btn-sm" ng-click="createProduct()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New Product
        </button>
      </p>

      <!-- Products Table -->
      <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Category</th>
          <th>Image</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <tr ng-repeat="item in products track by $index">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.description | characters: 50 }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.image | characters: 20 }}</td>
            <td class="nowrap">
              <button type="button" class="btn btn-warning btn-sm" ng-click="editProduct(item)">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
              </button>
              <button type="button" class="btn btn-danger btn-sm" ng-click="deleteProduct(item)">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>


      <!-- Product Modal -->
      <div class="modal fade in" id="productModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="myModalLabel">Product</h4>
            </div>
            <div class="modal-body">
              <label>Id: <input type="text" ng-model="currentProduct.id" value="{{ currentProduct.id }}"></label><br>
              <label>Name: <input type="text" ng-model="currentProduct.name" value="{{ currentProduct.name }}"></label><br>
              <label>Description: <textarea ng-model="currentProduct.description">{{ currentProduct.description }}</textarea></label><br>
              <label>Price: <input type="text" ng-model="currentProduct.price" value="{{ currentProduct.price }}"></label><br>
              <label>Category:
                <select ng-model="currentProduct.category">
                  <option ng-repeat="cat in categories" value="{{ cat.id }}">{{ cat.name }}</option>
                </select>
              </label><br>
              <label>Image: <input type="text" ng-model="currentProduct.image" value="{{ currentProduct.image }}"></label><br>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="saveProduct()" data-dismiss="modal"><i class="glyphicon glyphicon-ok"></i>&nbsp;Save</button>
                <button class="btn btn-warning" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancel</button>
            </div>
          </div>
        </div>
      </div>

  </div>

</div> <!-- /.row -->