<div class="row">

  <div class="col-md-3">

    <p class="lead">Catalog</p>
    <div class="list-group">
      <a href="#/admin/products" class="list-group-item" ng-class="{'active' : page == 'products'}">Products</a>
      <a href="#/admin/categories" class="list-group-item" ng-class="{'active' : page == 'categories'}">Categories</a>
    </div>

    <p class="lead">Sales</p>
    <div class="list-group">
      <a href="#/admin/orders" class="list-group-item" ng-class="{'active' : page == 'orders'}">Orders</a>
    </div>

  </div>

  <div class="col-md-9">

      <p class="lead">Manage Orders</p>

      <!-- Products Table -->
      <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <th>Id</th>
          <th>Status</th>
          <th>Customer</th>
          <th>Sum</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <tr ng-repeat="order in orders track by $index">
            <td>{{ order.id }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.customer.name }}</td>
            <td>{{ order.cart.sum | number:2 }} €</td>

            <td class="nowrap">
              <button type="button" class="btn btn-warning btn-sm" ng-click="viewOrder(order)">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Manage
              </button>
            </td>
          </tr>
        </tbody>
      </table>


      <!-- Order Modal -->
      <div class="modal fade in" id="orderModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title">Order</h4>
            </div>
            <div class="modal-body">
              <strong>Id:</strong> {{ currentOrder.id }}<br>
              <strong>Status:</strong> {{ currentOrder.status }}<br>
              <br>
              <strong>Customer:</strong><br>
              {{ currentOrder.customer.name }}<br>
              {{ currentOrder.customer.address }}<br>
              {{ currentOrder.customer.postcode }} {{ currentOrder.customer.city }}<br>
              {{ currentOrder.customer.email }}<br>
              {{ currentOrder.customer.phone }}<br>
              <br>

              <strong>Shipping Method:</strong> {{ currentOrder.shippingMethod.name }}<br>
              <strong>Payment Method:</strong> {{ currentOrder.paymentMethod }}<br>
              <br>

              <table class="table">
                <tr>
                  <th>Product</th>
                  <th class="textright">Qty</th>
                  <th class="textright">Price</th>
                  <th class="textright">Total</th>
                </tr>

                <tr ng-repeat="cartItem in currentOrder.cart.products">
                  <td>{{ cartItem.product.name }}</td>
                  <td class="nowrap textright">{{ cartItem.count }}</td>
                  <td class="nowrap textright">{{ cartItem.product.price | number:2 }} €</td>
                  <td class="nowrap textright">{{ cartItem.count * cartItem.product.price | number:2 }} €</td>
                </tr>

                <tr class="textright">
                  <td colspan="2">Sub-Total:</td>
                  <td colspan="2">{{ currentOrder.cart.sum | number: 2 }} €</td>
                </tr>

                <tr class="textright">
                  <td colspan="2">Included VAT (24 %):</td>
                  <td colspan="2">{{ currentOrder.cart.sum * 0.24 | number: 2 }} €</td>
                </tr>

                <tr class="textright" ng-show="order.shippingMethod.name.length > 0">
                  <td colspan="2">{{ currentOrder.shippingMethod.name }}:</td>
                  <td colspan="2">{{ currentOrder.shippingMethod.price | number:2 }} €</td>
                </tr>

                <tr class="textright total">
                  <td colspan="2">Total:</td>
                  <td colspan="2">{{ currentOrder.cart.sum + currentOrder.shippingMethod.price | number: 2 }} €</td>
                </tr>

              </table>
              
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning btn-sm" data-dismiss="modal">
                  <span class="glyphicon glyphicon-remove"></span> Cancel
                </button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" ng-click="deleteCurrent()">
                  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Delete
                </button>
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" ng-click="shipCurrent()" ng-show="currentOrder.status != 'Shipped'">
                  <span class="glyphicon glyphicon-plane" aria-hidden="true"></span> Ship
                </button>
            </div>
          </div>
        </div>
      </div>

  </div>

</div> <!-- /.row -->