<h1>Työntekijät</h1>

<button type="button" class="btn btn-success" ng-click="createEmployee()">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  Create New
</button>

<!-- View modal -->
<div class="modal fade in" id="infoModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Työntekijän tiedot</h4>
      </div>
      <div class="modal-body">

        <p><strong>Id:</strong> {{ current.id }}</p>
        <p><strong>First Name:</strong> {{ current.fname }}</p>
        <p><strong>Last Name:</strong> {{ current.lname }}</p>
        <p><strong>Salary:</strong> {{ current.salary }}</p>
        <p><strong>Birth Date:</strong> {{ current.bdate }}</p>
        <p><strong>Email:</strong> {{ current.email }}</p>
        <p><strong>Department Id:</strong> {{ current.dep }}</p>
        <p><strong>Department Name:</strong> {{ current.dname }}</p>
        <p><strong>Phone 1:</strong> {{ current.phone1 }}</p>
        <p><strong>Phone 2:</strong> {{ current.phone2 }}</p>
        <p><strong>Image:</strong> {{ current.image }}</p>

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" data-dismiss="modal">
          <span aria-hidden="true" class="glyphicon glyphicon-ok"></span> Ok
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<!-- Create modal -->
<div class="modal fade in" id="createModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">Create a new employee</h4>
      </div>
      <div class="modal-body">

        <label>Id:              <input type="text" ng-model="current.id"     value="{{ current.id }}"></label><br>
        <label>First Name:      <input type="text" ng-model="current.fname"  value="{{ current.fname }}"></label><br>
        <label>Last Name:       <input type="text" ng-model="current.lname"  value="{{ current.lname }}"></label><br>
        <label>Salary:          <input type="text" ng-model="current.salary" value="{{ current.salary }}"></label><br>
        <label>Birth Date:      <input type="text" ng-model="current.bdate"  value="{{ current.bdate }}"></label><br>
        <label>Email:           <input type="text" ng-model="current.email"  value="{{ current.email }}"></label><br>
        <label>Department:
          <select ng-model="current.dep">
            <option ng-repeat="dep in departments" value="{{ dep.id }}">{{ dep.name }}</option>
          </select>
        </label><br>
        <!-- <label>Department Id:   <input type="text" ng-model="current.dep"    value="{{ current.dep }}"></label><br> -->
        <!-- <label>Department Name: <input type="text" ng-model="current.dname"  value="{{ current.dname }}"></label><br> -->
        <label>Phone 1:         <input type="text" ng-model="current.phone1" value="{{ current.phone1 }}"></label><br>
        <label>Phone 2:         <input type="text" ng-model="current.phone2" value="{{ current.phone2 }}"></label><br>
        <label>Image:           <input type="text" ng-model="current.image"  value="{{ current.image }}"></label><br>

      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" ng-click="saveNew()" data-dismiss="modal"><i class="glyphicon glyphicon-ok"></i>&nbsp;Save</button>
          <button class="btn btn-warning" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancel</button>
      </div>
    </div>
  </div>
</div>

<table class="table table-bordered table-hover">
  <thead>
    <th>Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Salary</th>
    <th>Birth Date</th>
    <th>Email</th>
    <!-- <th>Department Id</th> -->
    <th>Department Name</th>
    <th>Phone 1</th>
    <!-- <th>Phone 2</th> -->
    <!-- <th>Image</th> -->
    <th>Actions</th>
  </thead>
  <tbody>
    <tr ng-repeat="item in data" ng-click="selectEmployee(item)">

      <td>{{ item.id }}</td>
      <td>{{ item.fname }}</td>
      <td>{{ item.lname }}</td>
      <td>{{ item.salary }}</td>
      <td>{{ item.bdate }}</td>
      <td>{{ item.email }}</td>
      <!-- <td>{{ item.dep }}</td> -->
      <td>{{ item.dname }}</td>
      <td>{{ item.phone1 }}</td>
      <!-- <td>{{ item.phone2 }}</td> -->
      <!-- <td>{{ item.image }}</td> -->

      <td>
        <button type="button" class="btn btn-primary btn-sm" ng-click="viewEmployee(item)">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Näytä
        </button>
        <button type="button" class="btn btn-warning btn-sm">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Muokkaa
        </button>
        <button type="button" class="btn btn-danger btn-sm" ng-click="deleteEmployee(item)">
          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Poista
        </button>
      </td>

    </tr>
  </tbody>
</table>