<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yritys</title>

    <!-- Bootstrap -->
    <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body ng-controller="appController">

    <nav class="navbar navbar-inverse">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{active: view === 'employees'}"><a href="#/employees">Työntekijät</a></li>
            <li ng-class="{active: view === 'departments'}"><a href="#/departments">Osastot</a></li>
            <li ng-class="{active: view === 'projects'}"><a href="#/projects">Projekti</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
      
      <h1>{{ title }}t</h1>

      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addNew">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Luo uusi
      </button>

      <input style="margin: 15px 0;" type="text" class="form-control" placeholder="Hae taulukosta">

      <div class="modal fade" id="addNew">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Luo uusi osasto</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal">
                <div class="form-group">
                  <label for="newId" class="col-sm-2 control-label">Id</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="newId" placeholder="">
                  </div>
                </div>
                <div class="form-group">
                  <label for="newPassword" class="col-sm-2 control-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="newPassword" placeholder="">
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save
              </button>
              <button type="button" class="btn btn-warning" data-dismiss="modal">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
              </button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->


      <div class="modal fade in" id="infoModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title">{{ title }}n tiedot</h4>
            </div>
            <div class="modal-body">

              <p ng-repeat="key in objectKeys(titles)">
                <strong>{{ titles[key] }}:</strong> {{ modalItem[key] }}
              </p>

            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" type="button">
                <span aria-hidden="true" class="glyphicon glyphicon-ok"></span> Save
              </button>
              <button class="btn btn-warning" data-dismiss="modal" type="button">
                <span aria-hidden="true" class="glyphicon glyphicon-remove"></span> Cancel
              </button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>



      <table class="table table-bordered table-hover">
        <thead>
        
          <th ng-repeat="key in objectKeys(titles)">{{ titles[key] }}</th>
          <th>Toiminnot</th>

        </thead>
        <tbody>
          <tr ng-repeat="datarow in data">

            <td ng-repeat="key in objectKeys(titles)">{{ datarow[key] }}</td>
            <td>
              <button type="button" class="btn btn-primary btn-sm" ng-click="showModal(datarow['id'])">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Näytä
              </button>
              <button type="button" class="btn btn-warning btn-sm">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Muokkaa
              </button>
              <button type="button" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Poista
              </button>
            </td>

          </tr>
        </tbody>
      </table>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>

    <script src="../assets/angular.js"></script>
    <script src="./yritys.js"></script>

  </body>
</html>