<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
	<script src="../assets/jquery.min.js"></script>
	<script src="../assets/angular.js"></script>
	<script src="ang1.js"></script>
</head>

<!-- 

  ANG1 - Modelin näyttö ja muotoilu view:ssä
  Toteuta web sivu, jossa näytetään modelissa määriteltyjen maiden data siististi taulukossa.
  Muotoile sivu sisällön kannalta sopivaksi Bootstrapilla
  Käytä ratkaisusi pohjana mallitiedostoja.
  Toteuta harjoitus AngularJS frameworkilla. 

-->

<body ng-controller="appController">

  <div class="container">
    <h1>Maat</h1>
    <table class="table table-bordered table-hover">
      <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Population</th>
        <th>Percentage</th>
        <th>Position</th>
      </thead>
      <tbody>
        <tr ng-repeat="c in countries"> <!-- Taika tapahtuu täällä! -->
          <td>{{ c.ID }}</td>
          <td>{{ c.name }}</td>
          <td>{{ c.population }}</td>
          <td>{{ c.percentage }}</td>
          <td>{{ c.position }}</td>
        </tr>
      </tbody>
    </table>
  </div>
    
</body>
</html>