<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
	<script src="../assets/jquery.min.js"></script>
	<script src="../assets/angular.js"></script>
	<script src="ang2-3.js"></script>
</head>

<!-- 

  ANG2 - DOM & Scope (View - Model)
  Tee web sivu, jossa on yksi input -tekstikenttä nimeä varten.
  Toteuta painike, joka lisää input-kentän sisällön listaan kentän alapuolelle.
  TIP1: Tee taulukko nimiä varten
  TIP2: Jos saat virheilmoituksia tyyliin "Duplicate entry", niin käytä ng-repeat attribuutin lopussa muotoa "track by $index"

  ANG3 - DOM manipulointi ja vuorovaikutus
  Jatka tehtävää ANG2
  Mahdollista lisätyn nimen poisto klikkaamalla nimeä (ei erillistä poistopainiketta).
  TIP: $index -servicellä saat selville mikä indeksi on kyseessä. $index toimii ng-repeatin yhteydessä
  
-->

<body ng-controller="appController">

  <div class="container">
    <h1>Nimet</h1>
    <p>Tehtävät 2 ja 3. Lisää nimi ja poista se klikkaamalla.</p>

    <input type="text" ng-model="name" style="width: 30%; display: inline-block; margin-bottom: 15px;" class="form-control" placeholder="Lisää uusi nimi...">
    <button type="button" class="btn btn-primary" ng-click="add(name)">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Lisää
    </button>

    <table class="table table-bordered table-hover">
      <tbody>
        <tr ng-repeat="name in names track by $index" ng-click="delete($index)">
          <th>{{ name }}</th>
        </tr>
      </tbody>
    </table>
  </div>
    
</body>
</html>