<h1>Työntekijät</h1>

<div class="modal fade in" id="infoModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Työntekijän tiedot</h4>
      </div>
      <div class="modal-body">
        <p><strong>Id:</strong> {{ modalItem.id }}</p>
        <p><strong>First Name:</strong> {{ modalItem.fname }}</p>
        <p><strong>Last Name:</strong> {{ modalItem.lname }}</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button">
          <span aria-hidden="true" class="glyphicon glyphicon-ok"></span> Save
        </button>
        <button class="btn btn-warning" data-dismiss="modal" type="button">
          <span aria-hidden="true" class="glyphicon glyphicon-remove"></span> Cancel
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<table class="table table-bordered table-hover">
  <thead>
    <th>Id</th>
    <th>Etunimi</th>
    <th>Sukunimi</th>
    <th>Syntymäaika</th>
    <th>Palkka</th>
    <th>Puhelin</th>
    <th>Toiminnot</th>
  </thead>
  <tbody>
    <tr ng-repeat="employee in data" ng-click="selectEmployee(employee)">

      <td>{{ employee.id }}</td>
      <td>{{ employee.fname }}</td>
      <td>{{ employee.lname }}</td>
      <td>{{ employee.bdate }}</td>
      <td>{{ employee.salary }}</td>
      <td>{{ employee.phone1 }} {{ employee.phone2 }}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm" ng-click="showModal(employee)">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Näytä
        </button>
        <button type="button" class="btn btn-warning btn-sm">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Muokkaa
        </button>
        <button type="button" class="btn btn-danger btn-sm">
          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Poista
        </button>
      </td>

    </tr>
  </tbody>
</table>