
<h1>Checkout</h1>

<div class="row checkout">


  <div class="col-sm-4">
    <p class="lead">Billing & Shipping</p>

    <div class="form-group">
      <label>Name
        <input type="text" class="form-control" ng-model="order.customer.name" required="true">
      </label>
      <label>Address
        <input type="text" class="form-control" ng-model="order.customer.address">
      </label>
      <label>Postcode / Zip
        <input type="text" class="form-control" ng-model="order.customer.postcode">
      </label>
      <label>City
        <input type="text" class="form-control" ng-model="order.customer.city">
      </label>
      <label>Email
        <input type="text" class="form-control" ng-model="order.customer.email">
      </label>
      <label>Phone
        <input type="text" class="form-control" ng-model="order.customer.phone">
      </label>
    </div>

  </div>

  <div class="col-sm-4">

    <p class="lead">Shipping Method</p>

    <div class="radio" ng-repeat="method in shippingMethods">
      <label><input type="radio" ng-model="$parent.order.shippingMethod" ng-value="{{ method }}">{{ method.name }} <span class="price">{{ method.price | number: 2 }} €</span></label>
    </div>
    

    <p class="lead">Payment Method</p>

    <div class="radio" ng-repeat="method in paymentMethods">
      <label><input type="radio" ng-model="$parent.order.paymentMethod" value="{{ method }}">{{ method }}</label>
    </div>

  </div>

  <div class="col-sm-4">
    <p class="lead">Confirm Order</p>

    <table class="table">
      <tr>
        <th>Product</th>
        <th class="textright">Qty</th>
        <th class="textright">Price</th>
        <th class="textright">Total</th>
      </tr>

      <tr ng-repeat="cartItem in cart.products">
        <td>{{ cartItem.product.name }}</td>
        <td class="nowrap textright">{{ cartItem.count }}</td>
        <td class="nowrap textright">{{ cartItem.product.price | number:2 }} €</td>
        <td class="nowrap textright">{{ cartItem.count * cartItem.product.price | number:2 }} €</td>
      </tr>

      <tr class="textright">
        <td colspan="2">Sub-Total:</td>
        <td colspan="2">{{ cart.sum | number: 2 }} €</td>
      </tr>

      <tr class="textright">
        <td colspan="2">Included VAT (24 %):</td>
        <td colspan="2">{{ cart.sum * 0.24 | number: 2 }} €</td>
      </tr>

      <tr class="textright" ng-show="order.shippingMethod.name.length > 0">
        <td colspan="2">{{ order.shippingMethod.name }}:</td>
        <td colspan="2">{{ order.shippingMethod.price | number:2 }} €</td>
      </tr>

      <tr class="textright total">
        <td colspan="2">Total:</td>
        <td colspan="2">{{ cart.sum + order.shippingMethod.price | number: 2 }} €</td>
      </tr>

    </table>

    <a href="" ng-click="placeOrder();" class="btn btn-primary btn-lg btn-place-order">Place Order</a>

  </div>

  <!-- Order Modal -->
      <div class="modal fade in" id="thanksModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title">Thanks for the order!</h4>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal" ng-click="finishCheckout()">
                Continue Shopping
              </button>
            </div>
          </div>
        </div>
      </div>



</div> <!-- /.row -->