
<p class="lead">Categories</p>
<div class="list-group">

  <a href="#/categories/all" class="list-group-item" ng-class="{'active' : category == 'all'}">All Products</a>

  <a ng-repeat="cat in categories" href="#/categories/{{ cat.id }}" class="list-group-item" ng-class="{'active' : category == cat.id}">{{ cat.name }}</a>
  
</div>
