
<p class="lead">Cart</p>

<p ng-show="cart.products.length === 0">Cart is empty.</p>

<ul class="list-group">
  <li class="list-group-item" ng-repeat="cartItem in cart.products">
    <p>
      <a href="" ng-click="removeFromCart($index)"><span class="glyphicon glyphicon-remove"></span></a>
      {{ cartItem.count }} x {{ cartItem.product.name }}
    </p>
    <p>{{ cartItem.count * cartItem.product.price | number:2 }} €</p>
  </li>

  <li class="list-group-item" ng-show="cart.products.length !== 0">
    Total: {{ cart.sum | number: 2 }} €
  </li>
</ul>

<a href="#/checkout" class="btn btn-success" ng-show="cart.products.length !== 0">Checkout</a>
