<h1>Projects</h1>



<button type="button" class="btn btn-success" ng-click="createNew()">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  Create New
</button>



<!-- View Modal -->
<div class="modal fade in" id="infoModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Projektin tiedot</h4>
      </div>
      <div class="modal-body">

        <p><strong>Id:</strong> {{ current.id }}</p>
        <p><strong>Nimi:</strong> {{ current.name }}</p>
        <p><strong>Manageri:</strong> {{ current.fname }} {{ current.lname }}</p>
        <p><strong>Manager ID:</strong> {{ current.managerid }}</p>
        <p><strong>Image:</strong> {{ current.image }}</p>

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button">
          <span aria-hidden="true" class="glyphicon glyphicon-ok"></span> Save
        </button>
        <button class="btn btn-warning" data-dismiss="modal" type="button">
          <span aria-hidden="true" class="glyphicon glyphicon-remove"></span> Cancel
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>



<!-- Create modal -->
<div class="modal fade in" id="createModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">Create a new employee</h4>
      </div>
      <div class="modal-body">

        <label>Id:              <input type="text" ng-model="current.id"     value="{{ current.id }}"></label><br>
        <label>Name:            <input type="text" ng-model="current.name"   value="{{ current.name }}"></label><br>
        <label>Manager:
          <select ng-model="current.managerid">
            <option ng-repeat="emp in employees" value="{{ emp.id }}">{{ emp.fname }} {{ emp.lname }}</option>
          </select>
        </label><br>
        <label>Image:           <input type="text" ng-model="current.image"  value="{{ current.image }}"></label><br>

      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" ng-click="saveNew()" data-dismiss="modal"><i class="glyphicon glyphicon-ok"></i>&nbsp;Save</button>
          <button class="btn btn-warning" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancel</button>
      </div>
    </div>
  </div>
</div>



<table class="table table-bordered table-hover">
  <thead>
    <th>Id</th>
    <th>Projekti</th>
    <th>Manageri</th>
    <th>Toiminnot</th>
  </thead>
  <tbody>
    <tr ng-repeat="item in data">

      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.fname }} {{ item.lname }}</td>

      <td>
        <button type="button" class="btn btn-primary btn-sm" ng-click="viewItem(item)">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Näytä
        </button>
        <button type="button" class="btn btn-warning btn-sm">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Muokkaa
        </button>
        <button type="button" class="btn btn-danger btn-sm" ng-click="deleteProject(item)">
          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Poista
        </button>
      </td>

    </tr>
  </tbody>
</table>