<div class="row">

  <div class="col-md-3">
    <div category-list></div>
  </div>

  <div class="col-md-9">
    <div class="row">

      <div ng-repeat="product in products" class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
          <img src="http://placehold.it/300x260" alt="">
          <div class="caption">
            <h4 class="pull-right">{{ product.price }}</h4>
            <h4><a href="#">{{ product.name }}</a></h4>
            <p>{{ product.description }}</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div> <!-- /.row -->